@tailwind base;
@tailwind components;
@tailwind utilities;

.h1{
    @apply font-semibold leading-none tracking-tight font-heading text-[28px]
}

.h2{
    @apply font-semibold leading-none tracking-tight font-heading text-[24px]
}

.scroll-container {
    @apply relative flex items-center;
}

.scroll-content {
    @apply flex gap-4 overflow-x-scroll p-4 flex-grow mr-4;
}

.scroll-container::before,
.scroll-container::after {
    content: '';
    @apply absolute top-0 bottom-0 w-8 pointer-events-none;
}

/* .scroll-container::before {
    left: 0;
    background: linear-gradient(to right, hsl(var(--background)), rgba(255, 255, 255, 0));
} */

.scroll-container::after {
    right:2rem; /* Adjusted to align with the margin-right of scroll-content */
    background: linear-gradient(to left, hsl(var(--background)), rgba(255, 255, 255, 0));
}

/* Text */

/* Titles */
.heading-1 {
    @apply font-heading font-bold text-4xl;
}

.heading-2{
    @apply font-heading font-bold text-[28px];
}

.heading-3{
    @apply font-heading font-bold text-2xl;
}

.body-1{
    @apply text-base;
}

/* Body */
.body-2{
    @apply text-sm;
}

.body-3{
    @apply text-xs;
}

/* Other texts */

.disclaimer {
    @apply text-xs italic text-gray-500;
}

/* END Text */