@tailwind base;
@tailwind components;
@tailwind utilities;

.h1{
    @apply font-semibold leading-none tracking-tight font-heading text-2xl md:text-5xl
}

.scroll-container {
    @apply relative flex items-center;
}

.scroll-content {
    @apply flex gap-4 overflow-x-scroll p-4 flex-grow mr-4;
}

.scroll-container::before,
.scroll-container::after {
    content: '';
    @apply absolute top-0 bottom-0 w-8 pointer-events-none;
}

.scroll-container::before {
    left: 0;
    background: linear-gradient(to right, hsl(var(--background)), rgba(255, 255, 255, 0));
}

.scroll-container::after {
    right:2rem; /* Adjusted to align with the margin-right of scroll-content */
    background: linear-gradient(to left, hsl(var(--background)), rgba(255, 255, 255, 0));
}