@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    /* Blanc - Utilisé comme couleur de fond principale */
    --foreground: 120 5% 4%;
    /* Noir - Utilisé comme couleur de texte principale */

    --card: 0 0% 98%;
    /* Blanc - Utilisé comme couleur de fond pour les cartes */
    --card-foreground: 120 5% 4%;
    /* Noir - Utilisé comme couleur de texte pour les cartes */

    --popover: 0 0% 98%;
    /* Blanc - Utilisé comme couleur de fond pour les popovers */
    --popover-foreground: 120 5% 4%;
    /* Noir - Utilisé comme couleur de texte pour les popovers */

    --primary: 161 26% 24%;
    --primary-foreground: 0 0% 98%;
    --primary-100: #eff6f4;
    --primary-200: #cfe3dd;
    --primary-300: #afd0c6;
    --primary-400: #8ebdaf;
    --primary-500: #6ea998;
    --primary-600: #55917e;
    --primary-700: #427162;
    --primary-800: #2f5046;
    --primary-900: #1c302a;
    --primary-1000: #09100e;

    --secondary: 16 62% 53%;
    --secondary-foreground: 0 0% 98%;
    --secondary-100: #faefeaa;
    --secondary-200: #f1cec1;
    --secondary-300: #e7ad98;
    --secondary-400: #dd8c6e;
    --secondary-500: #ba512b;
    --secondary-600: #913f22;
    --secondary-700: #672d18;
    --secondary-800: #3e1b0e;
    --secondary-900: #150905;
    --secondary-1000: #0a0403;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    /* --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%; */

    --accent: 28 68% 96%;
    --accent-100: #F1DDCD;
    --accent-200: #F9F1EB;
    --accent-300: #EED6C3;
    --accent-400: #E3BB9B;
    --accent-500: #D8A074;

    --success: 122 30% 50%;
    --success-100: #c7e1c8;
    --success-200: #8fc391;
    --success-300: #3e7440;

    --warning: 33 100% 56%;
    --warning-100: #ffdbb4;
    --warning-200: #ffb86a;
    --warning-300: #c76d00;

    --error: 0 79% 32%;
    --error-100: #f6b1b1;
    --error-200: #ed6464;
    --error-300: #e01a1a;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .neuton-font {
    @apply font-neuton;
  }

  .poppins-font {
    @apply font-poppins;
  }
}

body {
  margin: 0;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

input, select, textarea {
  font-size: 16px;
}

